$o-brand: 'whitelabel';
@import 'o-typography/main';
@import 'o-table/main';

// Include Roboto font-faces.
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

// Register the Roboto font.
$roboto-family: 'Roboto', sans-serif;
@include oFontsDefineCustomFont($roboto-family, (
    (weight: regular, style: normal),
    (weight: bold, style: normal),
    (weight: semibold, style: normal)
));

// Use Roboto font in o-typography.
@include oTypographySetFont(
    $type: 'sans',
    $family: $roboto-family
);

// Define a custom font scale for Roboto in o-typography.
// scale: (font-size, line-height) (px value)
@include oTypographyDefineFontScale(
    $family: $roboto-family,
    $scale: (
        -2: (12, 16),
        -1: (14, 18),
         0: (16, 22),
         1: (18, 24),
         2: (20, 26),
         3: (24, 32),
         4: (28, 36),
         5: (32, 42),
         6: (40, 52),
         7: (48, 62),
         8: (56, 72),
         9: (72, 94),
        10: (84, 112)
));

// Configure custom typography.
@include oTypographyCustomize((
    'blockquote-color': powderblue, // Update the blockquote border color to hotpink.
    'heading-level-one': (
        'scale': 7, // Update the size of h1.
    ),
    'heading-level-two': (
        'scale': 6 // Update the size of h2 (up to h6 is supported heading-level-six).
    )
));

// Configure a custom table.
@include oTableCustomize((
    table-border-color: black,
    table-alternate-background: powderblue
));

// Output table CSS.
@include oTable($opts: ('stripes'));

// Output typography css (the .o-typography-wrapper class).
@include oTypography($opts: ('wrapper'));

body {
    background-color: oColorsGetColorFor('page', 'background');
}

.o-table-container {
    margin-bottom: oTypographySpacingSize(5);
}
